
#dictionary-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #8c7a53;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    z-index: 1000;
}


#dictionary-container {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
    transition: right 0.3s ease-in-out;
    display: none;
    z-index: 1001;
}


#dictionary-container.show {
    right: 0;
    display: block;
}


#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #AC9E6E;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
}


ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
}

li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/*muokkauksia mobiiliversioon*/
@media (max-width: 600px) {
    #dictionary-button {
        position: relative; 
        top: auto;
        right: auto;
        display: block;
        width: 90%;
        margin: 20px auto 10px;
        text-align: center;
    }

    #dictionary-container {
        width: 95%;
    }

    #dictionary-container.show {
        right: 0;
    }
}
